/* css start here */


body {
      font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      /*background-color: lavender;*/
      border: solid black;
      padding-bottom: 2rem;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
/*frustrated here because when I take this out  it it makes the images overlap*/
img {
  max-height: 50vmin; 
}

/***************** NAV *****************/

navbar-brand {
  text-align: center;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
  text-align: center;
}

h1 .logo-w {
  font-size: 3.5rem;
  text-align: center;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.footer {
   position: fixed;
   left: 0rem;
   bottom: 0rem;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

#grad1 {
    height: 100%;
    width: inherit;
    background: lavender; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, white, purple); 
}
 /*for narrower screens*/
@media (min-width: 600px) and (max-width: 1280px) {
img {
    max-width: 100%;
    height: auto;
}
}